body {
    background-color: beige
    margin-left:15%; margin-right:15%;
    font:'Arial';
}
a {color: #e45a2c; text-decoration: none;}
a:visited { color: none text-decoration: none; }

a:hover { color: #f26e10 ; text-decoration: underline; }

table, th, td {
  border:1px solid #720c0c;
}

h1 {font-style: italic;
    color: #000066;}
h2 {font-style: italic;
  color: brown;}

h3 {font-style:oblique;
    color: rgb(100, 0, 0);}

h4 {font-style:oblique;
        color: rgb(100, 0, 0);}
    
  td:nth-child(odd) {
    background-color:#ca2718;
}

td:nth-child(even) {
    background-color: rgb(185, 27, 27);
}