body {
	margin-left: 10%; margin-right: 10%; font-family: Arial, Verdana, sans-serif;
}

h1 {
	color: #4292c6;
}

a {
	color: blue; text-decoration: none;
}

a:visited {
	color: purple; text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: none;
}