h1 {text-align: center; color:#FF8000} h2 {font-style:italic; color:#FF8000; font-weight:bold}
table, th, td {border: 1px solid; font-familyl:Helvetica; color:White}
p{font-family:Helvetica; color:White} a{color:#FF8000}
body{background-color:#005Eb8} li{color:White; font-family:Helvetica}
