body {background-color:#ADD8E6;}
body {font-family:garamond}
h1 {color:#000066}
/* new links */ 
a { color:#003366; text-decoration: none; } 
/* visited links */ 
a:visited { color:#660066; text-decoration: none; } 
/* mouse-over */
a:hover { color: black; text-decoration: underline; } 
body {margin-left: 10%; margin-right: 10%}
img {margin-left: 40%; margin-right: 50%}