body {
  margin-left: 10%; margin-right: 10%; font-family: "Times New Roman", Times, serif; background: #B3DEC1;
}
 
h1 {
color: #750D37;
}

h2 {
color: #753237;
}

a:link { 
color:##003366; text-decoration: none;
}


a:hover { 
text-decoration: underline;
}

a:visited {
color:#660066;
}

