body { margin-left: 10%; margin-right: 10%; font-family:
Minion Pro; font-size: 18px; color:#5A5A5A}  
h1 {#000066;}
a:link {color: #003366;}
a {text-decoration: none;}
  a:visited {color: #664100;}
a:hover{border-bottom: 2px solid #f46e32;text-decoration: none;}
ul {list-style-type: square;}
h1{text-align: center;color: #000066}  
h2{text-align: left;color: #001158} 
table, th, td {border: 1px solid #001158;border-collapse: collapse;}