body {
  margin-left: 10%; margin-right: 10%;
  font-family: 'Times New Roman', Times, serif, serif, Helvetica, sans-serif;
  background-color: #bfdebf;
}

a {color: #003366; text-decoration: none;}
a:visited { color: #660066; text-decoration: none; }

a:hover { color: #003366 ; text-decoration: underline; }

table, th, td {
  border:1px solid #333;
}

h1 {font-style: italic;
    color: brown;}
h2 {font-style: italic;
  color: brown;}

h3 {font-style:oblique;
    color: darkgreen;}

  td:nth-child(odd) {
    background-color:#d4b03b;
}

td:nth-child(even) {
    background-color: white;
}

