body{font-family: times new roman; margin-left:10%; margin-right:10%} 
/* unvisited link */
a:link{color:#003366;text-decoration:none}
/* visited link */
a:visited{#660066}
/* mouse over link */
a:hover{text-decoration:underline}
h1{color:#000066}